{#
 Name: add.html.twig
 Author: Flavien Macquignon
 Date: 05/10/2020
 Comment: This file is a template to add a information about a influencer into the database
 #}
{% extends 'main/base.html.twig' %}


{% block title %} Ajouter un Influenceur {% endblock %}

 {#TODO figure out the css implementation
    This seems to work(==>Not tested)#}
{% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block body %} 
<head>
    <style>
        .Form{
            width: 1500px;
            clear: both;
          }
          
          .Form input {
            width: 75%;
            clear: both;
          }
          aside{
            width: 30%;
            padding-left: 15px;
            margin-left: 15px;
            float: right;
            font-style: italic;
            background-color: lightgray;
          }
    </style>
</head>
<div>
{#TODO: figure out how to link this like it is present on "home.html.twig"
 See webpack.config.js for the configuration; it's basicaly the same philosophy as Symfony Routes#}
<h1 style="text-align:center"> Ajouter un influenceur </h1> <br>

{# TODO figure out how to build a form using symfony==> Check on InfluencerType.php for the PHP part and register.html.twig for the template implementation #}
{# TODO a route is needed to call a function, so instead of calling a function, i call a route to make treatments (like register a form)#}

<div class="Form">
    <form>
        <label form="lname">Nom: </label>
        <input type="text" id="lname" name="lname" autofocus="true" placeholder="Nom civil" required><br>

        <label form="fname">Prénom: </label>
        <input type="text" id="fname" name="fname" placeholder="Prénom civil" required ><br>

        <label form="picture_small">Miniature:</label>
        <input type="file" id="picture_small" name="picture_small" accept="image/jpeg, image/png" required><br>

        <label form="picture_large">Grand Format:</label>
        <input type="file" id="picture_large" name="picture_large" accept="image/jpeg, image/png" required><br>

        <label form="email">Email: </label>
        <input type="email" id "email" name="email" placeholder="adressepro@pro.com" required><br>

        <!-- This regex pattern seems to match any phone number; to check on usage-->
        <label form="phone">Téléphone: </label>
        <input type="tel" id="phone" name="phone" pattern="^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$"placeholder="1234567890" required ><br>
        <aside>
          <p>The Epcot center is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks and seasonal special events.</p>
        </aside>
        <!--FIXME this will not be send to the controller (check https://www.w3docs.com/snippets/html/how-to-create-a-multi-line-text-input-field-in-html.html )-->
        <label form="adress">Adresse Postale</label>
        <textarea id="adress" name="adress" rows="3" cols="40" maxlength="500" placeholder="1 Rue des pros 75000 Paris"></textarea><br>

        <label form="urlYT">URL de la chaîne Youtube</label>
        <input type="url" id="urlYT" name="urlYT" size="45" placeholder="http://www.youtube.com/c/NomUtilisateur"><br>

        <label form="urlIG">URL de la chaîne Instagram</label>
        <input type="url" id="urlIG" name="urlIG" size="45" placeholder="http://www.instagram.com/NomUtilisateur"><br>

        <label form="urlTW">URL de la chaîne Twitch</label>
        <input type="url" id="urlTW" name="urlTW" size="45" placeholder="http://www.twitch.tv/NomUtilisateur"><br>

        <label form="urlTK">URL de le chaîne TikTok</label>
        <input type="url" id="urlTK" name="urlTK" size="45" placeholder="https://www.tiktok.com/@NomUtilisateur"><br>

        <label form="Description">Description</label>
        <textarea id="Description" name="Description" rows="3" cols="40" maxlength="500" placeholder="Insérer ici la description destinée aux présentations"></textarea>
      </form> 
</div>
</div> 
{% endblock %} 
