{#
Name: index.html.twig
Author: Flavien Macquignon
Date: 07/10/2020
Comment: This file is the template to the homepage of the influencer management dashboard
#}

{% extends 'main/base.html.twig' %}
{% block title %} Influenceur Management {% endblock %}

{% block body %}

<div>
  <div class="influencerManagement">
    <h1>this is a test</h1>
    <main>
      <!-- TODO adjust css for this, need to make it more visible and print on one page then display it on another behind a click --> 
      <!-- TODO check how to display specific things like mail (add function mailto:) -->
      <div class="list_influenceur">
        {% for user in users %}
        <table style="width: 100%" border="18">
          <tbody>
            {% set k = loop.index0 %}
            <tr>
              <td> {{ users[k].getEmail() }}</td>
              <td><br>
              </td>
              <td><br>
              </td>
            </tr>
            <tr>
              <td><br>
              </td>
              <td><br>
              </td>
              <td><br>
              </td>
            </tr>
            <tr>
              <td><br>
              </td>
              <td><br>
              </td>
              <td><br>
              </td>
            </tr>
          </tbody>
        </table>
        {% endfor %}
      </div>

    </main>
  </div>
</div>

{% endblock body %}