{#
Name: index.html.twig
Author: Flavien Macquignon
Date: 07/10/2020
Comment: This file is the template to the homepage of the influencer management dashboard
#}

{% extends 'main/base.html.twig' %}
{% block title %} Influenceur Management {% endblock %}

{% block body %}

<div>
    <div class="influencerManagement">
        <h1>this is a test</h1>
        <main>
            <table>
                <col>Name</col>
                <col>Picture</col>
            </table>
        </main>
    </div>
</div>

{% endblock body %}