{#
Name: index.html.twig
Author: Flavien Macquignon
Date: 07/10/2020
Comment: This file is the template to the homepage of the influencer management dashboard
#}

{% extends 'main/base.html.twig' %}
{% block title %} Influenceur Management {% endblock %}

{% block body %}

<div>
  <div class="influencerManagement">
    <h1>this is a test</h1>
    <main>
      <!-- //TODO need a php loop to fill the table-->
      <!-- //TODO This is an example table for testing purpose; i need to isolate one row and use a loop to fill it for each row in the DB-->
      <!-- //TODO Check how to do it; maybe by using a routing function and a do...while(PDO not empty); call to the DB here is a BAD IDEA -->
      <div class="list_influenceur">
        
        <table style="width: 100%" border="18">
          <tbody>
            <tr>
              <td> {{ user1 }}
              </td>
              <td><br>
              </td>
              <td><br>
              </td>
            </tr>
            <tr>
              <td><br>
              </td>
              <td><br>
              </td>
              <td><br>
              </td>
            </tr>
            <tr>
              <td><br>
              </td>
              <td><br>
              </td>
              <td><br>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </main>
  </div>
</div>

{% endblock body %}