{#
    Name: select.html.twig
    Author: Flavien Macquignon 
    Date: 15/10/2020
    Comment: This file is the template for the display of an influencer
#}

{% extends 'main/base.html.twig' %}
{% block title %} {{ user.getFirstname() }} {{ user.getLastname() }}| {{ user.getUsername() }} {% endblock %}

{% block body %}
<head>

</head>

<div>
    
</div>