{#
Name: selectAgency.html.twig
Author: Flavien Macquignon
Date: 05/10/2020
Comment: Ce fichier est un template (qui se veut similaire à celui de select.html.twig) pour afficher une Agence
#}

{% extends 'main/base.html.twig' %}

{% block title %} {{ Agency.getnameAgency() }} {% endblock %}
{% block body %}
<h1 style="text-align: center">{{ Agency.getnameAgency() }}</h1>
<div style="text-align: center">
    <a href="{{path('modifAgency', {agencyId: Agency.getId()})}}"><button>Modifier l'agence</button></a>
</div>
{% endblock %}